@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=El+Messiri:wght@400;500;600;700&display=swap");
*:not(.fa, .far, .fas, .fab, .fad) {
  direction: rtl;
  font-family: "El Messiri", sans-serif !important;
}

.navbar .container .upper-side .phone-email {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: auto;
  margin-left: 0;
}

.navbar .container .upper-side .phone-email .wrap {
  text-align: left;
}

.navbar .container .upper-side .phone-email h4 {
  display: block;
  text-align: left;
  font-weight: 700;
}

.navbar .container .upper-side .phone-email small {
  display: block;
  width: 230px;
  margin-top: 9px;
}

.navbar .container .upper-side .phone-email img {
  margin-left: 0;
  margin-right: 15px;
}

.side-navigation.active {
  right: 0 !important;
}

.slider .slider-container {
  text-align: right;
}

.slider .slider-container .swiper-slide .container {
  padding-left: 0;
  padding-right: 100px;
  z-index: 1000;
}

@media screen and (max-width: 575px) {
  .slider .slider-container .swiper-slide .container {
    padding-right: 70px;
  }
}

.slider .slider-container .swiper-slide .container a {
  float: right;
  z-index: 1000;
}

.slider .slider-container .swiper-slide .container figure {
  float: right;
  margin-left: 0;
  margin-right: 40px;
}

.slider .slider-container .swiper-slide .container a i {
  margin-left: 0;
  margin-right: 10px;
}

.slider .slider-container .inner-elements .container .social-media {
  top: 50%;
}

.slider .slider-container .inner-elements .container .social-media h6 {
  position: relative;
  top: 8rem;
  margin-right: -7rem;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

.slider .slider-container .inner-elements .container .button-prev,
.slider .slider-container .inner-elements .container .button-next {
  top: 50%;
  -webkit-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}

.slider .slider-container .swiper-slide .container h1 {
  color: #f3704a;
  font-weight: 700;
  font-size: 50px;
  z-index: 1000;
}

.side-navigation {
  text-align: right;
}

.page-header .container {
  text-align: right;
}

.text-orange {
  color: #f3704a;
}

.text-orange-med {
  color: #f7944c;
}

.fixed-contacts {
  position: fixed;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mirror-x {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fixed-contacts a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 50px;
  padding: 0.6rem 1.5rem;
  font-size: 22px;
  border: 2px solid #ffffff;
  text-decoration: none;
  animation: updown 0.8s linear infinite;
  margin-left: 10px;
  z-index: 1;
}

.fixed-contacts a:hover {
  animation-play-state: paused;
}

.fixed-contacts a:last-child {
  margin-left: 0;
}

.fixed-contacts .call-us {
  background-color: #f3704a;
}

.fixed-contacts .whatsapp {
  background-color: #00a11b;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation-duration: 1s;
}

.fixed-contacts .register {
  background-color: #f3704a;
  animation-duration: 1.2s;
}

.fixed-contacts .whatsapp i {
  margin-right: 0;
}

.fixed-contacts a i {
  margin-right: 10px;
  vertical-align: middle;
}

.fixed-contacts a span {
  position: relative;
  top: 3px;
  vertical-align: middle;
  font-weight: 700;
}

@media screen and (max-width: 575px) {
  .fixed-contacts a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .fixed-contacts a span {
    display: none;
  }
  .fixed-contacts a i {
    margin-right: 0;
  }
}

.fixed-contacts a::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  content: "";
  transition: all 0.5s;
  z-index: -1;
  animation: bubble 1s linear infinite;
}

.fixed-contacts a:hover::after {
  animation-play-state: paused;
}

.fixed-contacts .call-us::after {
  background-color: #f3704a;
}

.fixed-contacts .whatsapp::after {
  background-color: #07c911;
  animation-duration: 1.25s;
}

.fixed-contacts .register::after {
  background-color: #f3704a;
  animation-duration: 1.15s;
}

@keyframes bubble {
  0% {
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1.4) scaleY(1.3);
    transform: scaleX(1.4) scaleY(1.3);
    opacity: 0;
  }
}

@keyframes updown {
  0% {
    top: 0;
  }
  25% {
    top: 3px;
  }
  50% {
    top: 0;
  }
  75% {
    top: -3px;
  }
  100% {
    top: 0;
  }
}

.intro {
}

.slider {
  border-bottom-left-radius: 90px;
}

.intro .image-wrap {
  display: flex;
  align-items: center;
  background-image: url("../images/intro-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  min-height: 600px;
}

@media screen and (min-width: 992px) {
  .intro .image-wrap {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  }
}

.intro .image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .intro .image {
    width: 400px;
  }
}

@media screen and (max-width: 575px) {
  .intro .image {
    width: 200px;
  }
}

.intro .content-box {
  padding: 30px;
}

.nearest-project-section {
  padding-bottom: 70px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
}

.nearest-project-section figure {
  position: relative;
}

.nearest-project-section figure .count-num {
  position: absolute;
  top: 47%;
  left: 48%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 10;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 10px #f3704a;
}

.nearest-project-section figure img {
  width: 230px;
  height: auto;
}

.contact-us-section {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.contact-us-section .map .pattern-bg {
  left: auto !important;
}

.contact-us-section .map:before {
  left: -50vw;
  right: auto;
}

@media screen and (max-width: 1199px) {
  .contact-us-section .contact-form {
    padding-left: 0 !important;
  }
}

.contact-us-section .map .holder {
  left: -10vw;
}

.contact-us-section .map .holder iframe {
  width: 600px;
}

@media screen and (max-width: 575px) {
  .contact-us-section .map .holder iframe {
    width: 300px;
  }
  .contact-us-section .map .holder {
    left: 0 !important;
  }
}

@media screen and (max-width: 340px) {
  .contact-us-section .map .holder iframe {
    width: 260px;
  }
  .contact-us-section .map .holder {
    left: 0 !important;
  }
}

.contact-us-section small {
  letter-spacing: 0;
  margin-bottom: 0;
}

.contact-us-section .input-wrapper {
  position: relative;
}

.contact-us-section .input-wrapper .icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #f3704a;
}

.contact-us-section .input-wrapper input {
  padding-right: 40px;
}

.contact .contact-social-links a {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
}

.about-intro {
  background-color: #efefef;
}

.about-intro .image-wrap {
  min-height: 450px !important;
}

.about-content .image img {
  position: relative;
  top: -10px;
  left: 80px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: -1;
}

@media screen and (max-width: 991px) {
  .about-content .image {
    margin-top: 50px;
  }
  .about-content .image img {
    left: 197px;
  }
}

@media screen and (max-width: 576px) {
  .about-content .image img {
    left: 100px;
    top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .about-content .image img {
    left: 100px;
    top: 27px;
  }
}

@media screen and (max-width: 400px) {
  .about-content .image {
    margin-top: 0;
  }
  .about-content .image img {
    left: 100px;
    top: 35px;
  }
}

@media screen and (max-width: 340px) {
  .about-content .image img {
    left: 70px;
    top: 40px;
  }
}

.about-logos {
  padding-top: 100px;
}

.vision-section {
  padding: 100px 10px;
  text-align: right;
}

.vision-section .head h4 span {
  color: #f3704a;
}

/* Values */

.company-values-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  background: #f8a46e;
  color: #fff;
  position: relative;
  top: -8px;
  text-align: right;
}

.company-values-section h4 {
  display: block;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  margin-bottom: 60px;
  text-align: center;
}
.company-values-section h4 span {
  color: #f3704a;
}

.company-values-section .item {
  text-align: right;
  height: 100%;
  width: 100%;
  border: 1px solid #f3704a;
  padding: 40px 20px 20px !important;
  margin: 15px 0;
}

.company-values-section .item h5 {
  color: #ffc7b7;
  text-align: center;
  margin-bottom: 15px;
}

.company-values-section .item p {
  text-align: center;
  font-style: italic;
}

.partners-section {
  overflow: hidden;
}

.partners-swiper {
  padding-bottom: 100px;
}

.partners-swiper .swiper-pagination {
  top: 160px;
}

.partners-swiper .swiper-pagination-bullet {
  display: inline-block;
  background-color: #f3704a;
  position: relative;
  margin-right: 8px !important;
}

.partners-swiper .swiper-pagination-bullet:fitst-child {
  margin-right: 0 !important;
}

.partners-swiper .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(1.2);
  transform: scale(1.6);
  border: 1px solid #f3704a;
}

.text-justify {
  text-align: justify !important;
}

.about-logos {
  padding: 100px 30px;
}

.bg-light-grey {
  background-color: #efefef;
}

.py-7rem {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

/* Progress Images Swiper */

.progress-images-swiper .swiper-slide .image {
  position: relative;
}

.progress-images-swiper .swiper-slide .image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000038;
  border-radius: 10px;
}

.progress-images-swiper .swiper-slide .image img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.progress-images-swiper .swiper-pagination {
  bottom: 15px;
}

.progress-images-swiper .swiper-pagination-bullet {
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  margin-right: 8px !important;
}

.progress-images-swiper .swiper-pagination-bullet:fitst-child {
  margin-right: 0 !important;
}

.progress-images-swiper .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transform: scale(1.2);
  transform: scale(1.6);
  border: 1px solid #ffffff;
}

.progress-section {
  text-align: right;
}

.progress-section .progress-item {
  margin-top: 60px;
  margin-bottom: 150px;
}

.progress-section .progress-item:last-child {
  margin-bottom: 50px;
}

.progress-section .progress-item:nth-child(odd) .row {
  flex-direction: row-reverse;
}

.progress-section .content {
  padding-top: 50px;
  padding-right: 40px;
}

.progress-section .content .head {
  color: #f3704a;
  font-weight: 700;
}

.progress-section .content .subhead {
  color: #979797;
  margin-bottom: 20px;
}

.progress-section ul li {
  padding-right: 10px;
  margin-bottom: 8px;
}

.progress-section ul li::marker {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  color: #f3704a;
}

.letter-sp-0 {
  letter-spacing: 0 !important;
}

.text-main {
  color: #f3704a;
}

.fab {
  text-decoration: none !important;
}

.text-facebook {
  color: #004ba1;
}

.text-whatsapp {
  color: #00a11b;
}

.text-linkedin {
  color: #0072b1;
}

.text-twitter {
  color: #1da1f2;
}

.sm-breadcrumb {
  background-color: #ffffff;
  padding: 0.5rem 1.2rem;
  width: auto;
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  opacity: 0.9;
}

.sm-breadcrumb a {
  display: inline-block;
  position: relative;
  color: #000000;
  margin-left: 8px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.4s;
}

.sm-breadcrumb a:last-child {
  position: relative;
  top: 2px;
}

.sm-breadcrumb a:hover {
  color: #f3704a;
}

.sm-breadcrumb a.disabled {
  color: #696969;
  pointer-events: none;
  cursor: disabled;
}

.sm-breadcrumb a.disabled:hover {
  color: #696969;
}

.sm-breadcrumb a::after {
  position: relative;
  top: 2px;
  font-family: "Font Awesome 5 Free";
  content: "\f104";
  color: #000000;
  font-weight: 700;
  margin-right: 10px;
}

.sm-breadcrumb a:last-child:after {
  display: none;
  margin-right: 0;
}

.project-details-section .project-tabs {
  border-bottom: 2px solid #f3704a;
  padding-right: 0;
  padding-left: 0;
}

.project-details-section .project-tabs .nav-link {
  border: none;
  transition: all 0.4s;
}

.project-details-section .project-tabs .nav-link.active {
  background-color: #f3704a;
  color: #ffffff;
}

.project-details-section .project-tab-content .tab-pane {
  text-align: right;
  padding-top: 30px;
  padding-bottom: 30px;
}

.project-details-section .project-tab-content .tab-pane .brochure-link {
  display: inline-block;
  margin-top: 20px;
  background-color: #f80202;
  color: #ffffff;
  padding: 0.6rem 1rem;
  transition: all 0.4s;
  text-decoration: none;
}

.project-details-section .project-tab-content .tab-pane .brochure-link:hover {
  background-color: #c01010;
}

.project-details-section .iframe iframe {
  width: 100%;
  height: 400px;
}

.property-features figure {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 10px;
  margin: 15px 0;
  border: 1px solid #e4481d;
  border-radius: 6px;
}
.property-features figure img {
  height: 40px;
  float: left;
  margin-left: 15px;
  filter: brightness(0);
}
.property-features figure figcaption {
  color: #f3704a;
  font-size: 13px;
  font-weight: 600;
}

.unit-box {
  position: relative;
  box-shadow: 0 0 5px #cccccc;
  padding: 20px;
  border-radius: 5px;
  height: 100%;
}

.unit-box figure {
  position: relative;
}

.unit-box .float-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.unit-box.sold .float-link {
  display: none !important;
}

.unit-box.sold figure::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 9;
}

.unit-box.sold .sold-img {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 180px;
  height: auto;
  z-index: 10;
}

.unit-box img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.unit-box .unit-label {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.unit-box .unit-title {
  color: #e4481d;
}

.unit-box .reserve-unit-link {
  position: relative;
  display: inline-block;
  width: 240px;
  padding: 10px 20px;
  text-align: center;
  background-color: #e4481d;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  z-index: 25;
  transition: all 0.4s;
}

.unit-box .reserve-unit-link:hover {
  background-color: #c25335;
}

.unit-box .reserve-unit-link.disabled {
  background-color: #919191;
}

.unit-form {
  text-align: right;
}

.unit-form .form-group {
  margin-bottom: 20px;
}

#reserveUnitModal {
  padding-right: 0 !important;
}

#reserveUnitModal .modal-header .close {
  margin-right: auto !important;
  margin-left: 0 !important;
}

.see-all-btn {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none !important;
  color: #f3704a;
  border: 1px solid #f3704a;
  display: inline-block;
  transition: all 0.4s;
}

.see-all-btn:hover {
  color: #ffffff;
  background-color: #f3704a;
}
